
body{
    color: black;
}
.shop-container{
    
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 50px;
    margin: 50px;
}
.pagination{
    text-align: center;
    /* font-weight: 800; */
}
.selected{
    background-color: salmon;
}