.review-container{
    margin: 50px auto;

}
.btn-procced-cart2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10px auto;
    background: rgba(255, 166, 0, 0.91);
    border-radius: 5px;
    color: white;
    align-items: center;
}
.link-text{
    text-decoration: none;
}